.formContainer
  display: flex
  flex-flow: column
  background: var(--light)
  border: 3px solid black
  width: 90vw
  height: 80vh
  position: relative
.close
  --size: 40px
  width: var(--size)
  height: var(--size)
  position: absolute
  top: 0
  right: 0

.opened
  background: darkred
  color: var(--third)
.closed

.btn
  border: 0
  cursor: pointer
  font-family: 'Roboto Black'
  font-weight: 900
  margin: 5px
  box-shadow: 0 0 3px 0 white