.container
  display: flex
  position: relative
  min-height: 80px
  overflow: auto
  padding: 15px
  padding-right: 0
  background: var(--second)
.line
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  margin: auto 0
  background: black
  height: 1px
.item
  position: relative
  display: flex
  flex-flow: column
  justify-content: space-between
  align-items: center
  //&:not(:first-child)
  //  margin: 0 -10px
.item:nth-child(2n)
  //flex-direction: column-reverse
.title
  background: var(--third)
  border: 2px solid var(--first)
  border-radius: 5px
  margin-right: 3px
  padding: 2px
.time
  //position: absolute
  //left: 50%
  //top: 50%
  //transform: translate(-50%, -50%)
  font-size: 0.8em
  font-weight: 700

.weather
