{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "import/no-named-as-default": 0,
    "no-underscore-dangle": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}